# PyCity Schools Analysis

* Your analysis here
---

In [2]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

In [3]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data["school_name"].unique())
student_count = student_data["student_name"].count()

# Calculate the Total Budget
total_budget = school_data["budget"].sum()

# Calculate the Per_Student_Budget
Per_student_budget = total_budget/student_count

In [4]:
# Calculate the Average Scores
average_maths_score = student_data["maths_score"].mean()
average_reading_score = student_data["reading_score"].mean()

In [5]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_maths_reading_count = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].count()["student_name"]

overall_passing_rate = passing_maths_reading_count / float(student_count) * 100

In [14]:
# Convert to DataFrame
area_summary =pd.DataFrame({"Total School": [school_count],
                            "Total Students": student_count,
                            "Total Budget": total_budget,
                            "Average Maths Score": average_maths_score,
                            "Average Reading Score": average_reading_score,
                            "% Passing Maths": passing_maths_percentage,
                            "% Passing_Reading": passing_reading_percentage,
                            "% Overall Passing": overall_passing_rate})

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary

,Total School,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing_Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

In [8]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts = school_data.groupby('school_name')['size'].sum()

# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.groupby('school_name')['budget'].sum()
per_school_capita = school_data['budget'] / school_data['size']
per_school_capita
# Calculate the average test scores per school from school_data_complete
per_school_maths = school_data_complete["maths_score"].mean()
per_school_reading = school_data_complete["reading_score"].mean()

In [9]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['student_name'].count()
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['student_name'].count()

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].groupby('school_name')['student_name'].count()

In [10]:
#  Calculate the Percentage Pass Rates
total_students_per_school = school_data_complete.groupby('school_name')['student_name'].count()
per_school_passing_maths = (school_passing_maths / total_students_per_school) * 100
per_school_passing_reading = (school_passing_reading / total_students_per_school) * 100
overall_passing_rate = (passing_maths_and_reading / total_students_per_school) * 100

In [30]:
# Convert to DataFrame

per_school_summary = pd.merge(school_types, per_school_counts, how="left", on=["school_name"])
per_school_summary_2 = pd.merge(per_school_summary, per_school_budget, how="left", on=["school_name"])
per_school_summary_3 = pd.merge(per_school_summary_2, per_school_capita, how="left", on=["school_name"])



# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: Cannot merge a Series without a name

## Top Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show top five schools
top_schools = df.sort_values(by='overall_passing_ratee', ascending=False)
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show bottom five schools
bottom_schools = df.sort_values(by='Voverall_passing_rate', ascending=False)
bottom_schools.bottom(5)

## Maths Scores by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby('school_name')['maths_score'].mean()
year_ten_scores = year_ten.groupby('school_name')['maths_score'].mean()
year_eleven_scores = year_eleven.groupby('school_name')['maths_score'].mean()
year_twelve_scores = year_twelve.groupby('school_name')['maths_score'].mean()   

# Combine series into single DataFrame
maths_scores_by_year = pd.dataframe({"Year 9": [year_nine_scores],
                                     "Year 10": [year_ten_scores],
                                     "Year 11": [year_eleven_scores],
                                     "Year 12": [year_twelve_scores],})
# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

## Reading Score by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby('school_name')['reading_score'].mean()
year_ten_scores = year_ten.groupby('school_name')['reading_score'].mean()
year_eleven_scores = year_eleven.groupby('school_name')['reading_score'].mean()
year_twelve_scores = year_twelve.groupby('school_name')['reading_score'].mean() 

# Combine series into single DataFrame
reading_scores_by_year = pd.dataframe({"Year 9": [year_nine_scores],
                                     "Year 10": [year_ten_scores],
                                     "Year 11": [year_eleven_scores],
                                     "Year 12": [year_twelve_scores],})

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
#  This step can be skipped but its best to make a copy.
school_spending_df = per_school_summary

In [ ]:
# Categorise spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], spending_bins, labels=labels)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.dataframe({"Average Maths Score": [spending_maths_scores],
                                 "Average Reading Score": [spending_maths_scores],
                                 "% Passing Maths": [spending_passing_maths],
                                 "% Passing Reading": [spending_passing_reading],
                                 "% Overall Passing": [overall_passing_spending],})

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], spending_bins, labels=labels)
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_maths_scores = per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
size_summary = pd.dataframe({"Average Maths Score": [size_maths_scores],
                             "Average Reading Score": [size_maths_scores],
                             "% Passing Maths": [size_passing_maths],
                             "% Passing Reading": [size_passing_reading],
                             "% Overall Passing": [size_overall_passing],})
# Display results
size_summary

## Scores by School Type

In [ ]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
type_summary = pd.dataframe({"Average Maths Score": [type_maths_scores],
                             "Average Reading Score": [type_maths_scores],
                             "% Passing Maths": [type_passing_maths],
                             "% Passing Reading": [type_passing_reading],
                             "% Overall Passing": [type_overall_passing],})

# Display results
type_summary